<header class="main-nav">
	<nav class="left-nav">
		
			<button>
			<div id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<div>SECTIONS</div>
			</div>
			</button>
			<button>
			<div id="search-modal-btn">
				<i class="fa fa-search"></i>
				<div>SEARCH</div>
			</div>
			</button>
			
	</nav>

	<nav class="right-nav">		
			
		<button>SUBSCRIBE NOW</button>
		<button>LOG IN</button>
		<button class="gear">
		<i class="fas fa-cog"></i>
		</button>
	
	</nav>

		
</header>