<div class="masthead">
    <div class="language-nav">
        <a href="#css">CSS</a>
        <a href="#html">HTML</a>
        <a href="#javascript">Javascript</a>
        <a href="#ruby">Ruby</a>
    </div>
    <div class="logo">
        <img src="assets/AA_Times_Logo.png">
    </div>
    <div class="masthead-links">
        <button>Tuesday, October 18, 2016</button>
        <button><i class="far fa-newspaper"></i>Today’s Paper</button>
        <button><i class="fas fa-video"></i>Video</button>
        <button>77°F</button>
        <button>AAO <div class="green">+100%</div></button>
    </div>
</div>
</div>